.App h1{
    margin-left: 45%;
  }
  
  .startbutton Button{
    color: black;
    text-align: center;
    font-weight: bolder;
    background-color: #FFBA93;
    height: 50px;
    width: 30%;
    border-radius: 5px;
    border: none;
    margin-left: 35%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .show_result Button{
    border: none;
    border-radius: 5px;
    background-color: #2D7D71;
    color: white;
    height: 50px;
    width: 100px;
    margin-left: 45%;
    margin-bottom: 2%;
  }
  
  h2{
    text-align: center;
    width: 80%;
    background-color: #ff8e71;
    margin-left: 10%;
    margin-top: 3%;
    border: none;
    border-radius: 5px;
    height: 50px;
    padding: 2px;
  }